.celda {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f1efff;
  border: 1px solid #cedae9;

  &.seleccionada {
    border: 3px solid #e9873b;
  }

  position: relative;
}


.materia-manufacturada {
  border: solid 1px #e92a92;
  background-color:  #e92a92;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.materia-prima {
  border: solid 1px #e9873b;
  background-color:  #e9873b;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
}