.celda {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f1efff;
  border: 1px solid #cedae9;

  &.seleccionada {
    border: 3px solid #e9873b;
  }
}

.norte {
  transform: rotate(0deg);
}

.sur {
  transform: rotate(180deg);
}

.este {
  transform: rotate(90deg);
}

.oeste {
  transform: rotate(270deg);
}