.celda {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f1efff;
  border: 1px solid #cedae9;

  &.seleccionada {
    border: 3px solid #e9873b;
  }

  position: relative;
}

.materia-prima {
  border: solid 1px #e9873b;
  background-color:  #e9873b;
  height: 10px; 
  width: 10px; 
  font-size: 8px;
  color: black;
  
  position: absolute;
}