.detalle-contenedor {
  grid-area: sidebar-right;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle-contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 250px;
  height: 500px;
  margin-top: 4px;
  background-color: #f1efff;

  color: #495163;
}

.nombre-maquina {
  margin-top: 16px;
  margin-left: 16px;
}

.costo-maquina {
  margin-top: 8px;
  margin-left: 16px;
}

.frecuencia-maquina {
  margin-top: 8px;
  margin-left: 16px;
}

span {
  color: #bc4062;
}
