.app-contenedor {
	margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
}